<div class="image-header widest-element" style="background-image: url(<%= asset_path 'about/header.png' %>); background-position: center;">
  <div class="image-header-text">
    <div class="title">       </div>
    Главная |      
  </div>
</div>
<div>
  <div class="container-fluid wrapper">
    <div class="row flex-column text-box">
      <br />
      <p> Прачечная-химчистка « » - это современное предприятие, оснащенное новейшим европейским оборудованием.
        У нас установлены профессиональные машины шведского производства. ASKO – это гарантия качества мирового бренда.</p>
      <div class="paragraph">
        <img class="paragraph-point" src="<%= asset_path 'common/1icon.svg'%>">
        Мы предлагаем услуги безопасной, недорогой и качественной чистки и стирки белья и одежды.
      </div>

      <div class="paragraph">
        <img class="paragraph-point" src="<%= asset_path 'common/2icon.svg'%>">
        Технология стирки подразумевает надежную и тщательную водоподготовку, избавляющую используемую воду от загрязняющих
        и вредных примесей. Важным аспектом качества является применение профессиональных моющих средств, в том числе гипо-аллергенных.
      </div>

      <div class="paragraph">
        <img class="paragraph-point" src="<%= asset_path 'common/1icon.svg'%>">
        Для чистки одежды применяется сухая чистка, деликатная чистка в среде альтернативных органических растворителей, а также аква-чистка.
      </div>

      <div class="paragraph">
        <img class="paragraph-point" src="<%= asset_path 'common/2icon.svg'%>">
        Меховые изделия могут быть очищены как с помощью комплексной чистки, так и ручной БИО чистке деликатными маслами, разработанными
        Новосибирскими учеными для бережного ухода за изделиями из натурального меха.
      </div>

      <div class="paragraph">
        <img class="paragraph-point" src="<%= asset_path 'common/1icon.svg'%>">
        Спортивная одежда может быть не только очищена, но и озонирована.
      </div>

      <div class="paragraph">
        <img class="paragraph-point" src="<%= asset_path 'common/2icon.svg'%>">
        Выездная бригада позволяет нам осуществлять чистку штор непосредственно у заказчика.
      </div>

      <div class="stickers" style="margin-bottom: 48px;">
        <div class="sticker">
          <img class="sticker-img" src="<%= asset_path 'about/washer.svg'%>">
          <div class="sticker-info">Новейшее европейское оборудование</div>
        </div>
        <div class="sticker">
          <img class="sticker-img" src="<%= asset_path 'about/bleach.svg'%>">
          <div class="sticker-info">Используем только профессиональные <br>средства</div>
        </div>
        <div class="sticker">
          <img class="sticker-img" src="<%= asset_path 'about/employees.svg'%>">
          <div class="sticker-info">Квалифицированные сотрудники</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map widest-element" style="background-image: url(<%= asset_path 'common/map.png'%>)"></div>
<%= render partial: 'layouts/footer'%>
