<div class="image-header widest-element" style="background-image: url(<%= asset_path 'for_organizations/header.png' %>); background-position: center;">
  <div class="image-header-text">
    <div class="title"> Химчистка </div>
    Главная | Химчистка
  </div>
</div>
<div class="container-fluid wrapper">
  <div class="row flex-column text-box for_organizations">
    <div class="paragraph" style="margin-top: 39px;">
      <img class="paragraph-point" src="<%= asset_path 'common/1icon.svg'%>">
      Чистка изделий это сложный технологический процесс. Конечную стоимость чистки Ваших вещей зависит от типов и количества загрязнений.
      Наш технолог при приемке изделия проконсультирует Вас о видах обработки и стоимости работ.
    </div>
  </div>

  <div class="services">
    <div class="service coat-and-down-jackets clickable-service">
      <div class="service-photo" style="background-image: url(<%= asset_path 'dry_cleaning/foto_1.png'%>); height: 160px;"></div>
      <div style="display:flex; justify-content: center">
        <div class="service-icon-background" style="margin-top: 70px;">
          <img src="<%= asset_path 'dry_cleaning/jacket.svg'%>" >
        </div>
      </div>
      <div class="service-title" style="margin-top: 19px;"> Пальто <br>и пуховики </div>
      <div class="service-price" style="margin-top: 19px;">
        от 800 руб.
      </div>
    </div>

    <div class="service coats-and-jackets clickable-service">
      <div class="service-photo" style="background-image: url(<%= asset_path 'dry_cleaning/foto_2.png'%>); height: 160px;"></div>
      <div style="display:flex; justify-content: center">
        <div class="service-icon-background" style="margin-top: 21.2%;">
          <img src="<%= asset_path 'dry_cleaning/coat.svg'%>" >
        </div>
      </div>
      <div class="service-title" style="margin-top: 19px;"> Плащи <br>и куртки </div>
      <div class="service-price" style="margin-top: 19px;">
        от 550 руб.
      </div>
    </div>

    <div class="service various-materials clickable-service">
      <div class="service-photo" style="background-image: url(<%= asset_path 'dry_cleaning/foto_3.png'%>); height: 160px;"></div>
      <div style="display:flex; justify-content: center">
        <div class="service-icon-background" style="margin-top: 21.2%;">
          <img src="<%= asset_path 'dry_cleaning/cloack.svg'%>" >
        </div>
      </div>
      <div class="service-title" style="margin-top: 19px;"> Изделия <br> из искусственного <br> меха, кожи <br> замаши и велюра </div>
    </div>

    <div class="service genuine-leather-and-fur clickable-service">
      <div class="service-photo" style="background-image: url(<%= asset_path 'dry_cleaning/foto_4.png'%>); height: 160px;"></div>
      <div style="display:flex; justify-content: center">
        <div class="service-icon-background" style="margin-top: 21.2%;">
          <img src="<%= asset_path 'dry_cleaning/cleaning.svg'%>" >
        </div>
      </div>
      <div class="service-title" style="margin-top: 19px;"> Комплексная чистка <br> изделий <br> из натурального <br> меха и кожи </div>
    </div>

    <div class="two-half-sized-services">
      <div class="clickable-service bio-cleaning service-half-sized" style="margin-bottom: 10px;">
        <div class="service-half-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_5.png'%>);"></div>
        <div class="service-half-sized-title"> Био-чистки<br> изделий из <br>натурального <br> меха </div>
      </div>

      <div class="clickable-service jackets-trousers-shirts service-half-sized">
        <div class="service-half-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_6.png'%>);"></div>
        <div class="service-half-sized-title"> Пиджаки<br>жакеты<br>броки<br>рубашки</div>
      </div>
    </div>

    <div class="two-half-sized-services">
      <div class="clickable-service blankets service-half-sized" style="margin-bottom: 10px;">
        <div class="service-half-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_7.png'%>);"></div>
        <div class="service-half-sized-title"> Одеяла<br>и пледы</div>
      </div>

      <div class="clickable-service bedspreads service-half-sized">
        <div class="service-half-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_8.png'%>);"></div>
        <div class="service-half-sized-content">
          <div class="service-half-sized-title" style="margin-left: 0px;"> Покрывала</div>
          <div class="service-half-sized-price">
            от 110 руб./м<sup>2</sup>
          </div>
        </div>
      </div>
    </div>
    <div class="four-quarter-sized-services">
      <div class="clickable-service knitwear service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_9.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Трикотажные <br> изделия
        </div>
      </div>
      <div class="clickable-service evening-dress service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_10.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Вечерняя <br> и шелковая одежда
        </div>
      </div>
      <div class="clickable-service work-clothes service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_15.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Рабочая одежда
        </div>
      </div>
      <div class="clickable-service bags service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_16.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Сумки из натуральной <br> и искусственной кожи, <br>чемоданы
        </div>
      </div>
    </div>

    <div class="four-quarter-sized-services">
      <div class="clickable-service pillows service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_11.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Перьевые подушки
        </div>
      </div>
      <div class="clickable-service interior-items service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_12.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Предметы интерьера:<br> чехлы диванные,<br> портьеры, чехлы<br> на кресла
        </div>
      </div>
    </div>

    <div class="four-quarter-sized-services">
      <div class="clickable-service sports-equipment service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_13.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Спортивная <br> экипировка
        </div>
      </div>
      <div class="clickable-service soft-toys service-quarter-sized">
        <div class="service-quarter-sized-image" style="background-image: url(<%= asset_path 'dry_cleaning/foto_14.png'%>);"></div>
        <div class="service-quarter-sized-title">
          Мягкие игрушки
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map widest-element" style="background-image: url(<%= asset_path 'common/map.png'%>); margin-top: 35px;"></div>

<%= render partial: 'modal_windows/dry_cleaning_modals'%>

<%= render partial: 'layouts/footer'%>
