<div class="image-header widest-element" style="background-image: url(<%= asset_path 'for_individuals/header.png' %>); background-position: center;">
  <div class="image-header-text">
    <div class="title"> Прачечная для частных лиц </div>
    Главная | Прачечная для частных лиц
  </div>
</div>
<div>
  <div class="container-fluid wrapper">
    <div class="row flex-column text-box">
      <div class="services">
        <div class="service first-service clickable-service" style="cursor: pointer">
          <div class="service-photo" style="background-image: url(<%= asset_path 'for_individuals/foto_1.png'%>)"></div>
          <div style="display:flex; justify-content: center">
            <div class="service-icon-background">
              <img class="service-icon" src="<%= asset_path 'for_individuals/washer.svg'%>" >
            </div>
          </div>
          <div class="service-title"> Стирка и сушка белья </div>
          <div class="service-info"> Стоимость услуги <br> указана за любой вес белья <br> до 5кг.</div>
          <div class="service-price">
            400 руб.
          </div>
        </div>

        <div class="service second-service clickable-service" style="cursor: pointer">
          <div class="service-photo" style="background-image: url(<%= asset_path 'for_individuals/foto_2.png'%>)"></div>
          <div style="display:flex; justify-content: center">
            <div class="service-icon-background">
              <img src="<%= asset_path 'for_individuals/jacket.svg'%>" >
            </div>
          </div>
          <div class="service-title"> Стирка и сушка пуховика </div>
          <div class="service-info"> Стоимость услуги указана за одну <br> вещь. Готовность заказа на <br> следующий день.</div>
          <div class="service-price">
            550 руб.
          </div>
        </div>

        <div class="service third-service clickable-service" style="cursor: pointer">
          <div class="service-photo" style="background-image: url(<%= asset_path 'for_individuals/foto_3.png'%>)"></div>
          <div style="display:flex; justify-content: center">
            <div class="service-icon-background">
              <img class="service-icon" src="<%= asset_path 'for_individuals/towel.svg'%>" >
            </div>
          </div>
          <div class="service-title"> Стирка и сушка одеял,<br>пледов, покрывал</div>
          <div class="service-info"> Цена указана за одну вещь. <br>Готовность заказа на следующий день.</div>
          <div class="service-price">
            550 руб.
          </div>
        </div>
        <div class="service fourth-service clickable-service" style="cursor: pointer">
          <div class="service-photo" style="background-image: url(<%= asset_path 'for_individuals/foto_4.png'%>)"></div>
          <div style="display:flex; justify-content: center">
            <div class="service-icon-background">
              <img class="service-icon" src="<%= asset_path 'for_individuals/linen.svg'%>" >
            </div>
          </div>
          <div class="service-title"> Стирка, сушка и глажка белья</div>
          <div class="service-info"> Стоимость услуги указана за одну <br> вещь, минимальный заказ - шесть <br> вещей.</div>
          <div class="service-price">
            от 40 руб.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map widest-element" style="background-image: url(<%= asset_path 'common/map.png'%>)"></div>
<%= render partial: 'layouts/footer'%>

<!-- Modal Section -->
<%= render partial: 'modal_windows/first-service'%>
<%= render partial: 'modal_windows/second-service'%>
<%= render partial: 'modal_windows/third-service'%>
<%= render partial: 'modal_windows/fourth-service'%>
