<div class="slideshow widest-element">
  <div class="slide current" style="background-image: url(<%= asset_path 'laundry/slide_1.png'%>); background-position: center;">
    <div class="container-fluid wrapper slide-content">
      <div class="read-more-button">
        Подбронее
      </div>
      <div class="slide-body" style="margin-top: 170px;">
        <div style="font-family: 'Open Sans';
                    color:  #ffffff;
                    font-size: 2.492em;
                    font-weight: 800">
          СТИРКА УЖЕ НИКОГДА <br> НЕ БУДЕТ ПРЕЖНЕЙ

        </div>
        <div style="font-family: 'Open Sans';
                    color:  #ffffff;
                    font-size: 1.123em;
                    font-weight: 400;
                    margin-top: 19px;">
          Прачечная и химчистка по доступным ценам
        </div>
      </div>
    </div>
  </div>

  <div class="slide" style="background-image: url(<%= asset_path 'laundry/slide_2.png'%>); background-position: center;">
    <div class="container-fluid wrapper slide-content">
      <div class="read-more-button">
        Подбронее
      </div>
      <div class="slide-body">
        <div style="font-family: 'Open Sans';
                    color:  #ffffff;
                    font-size: 2.492em;
                    font-weight: 800">
          НОВЕЙШЕЕ ЕВРОПЕЙСКОЕ <br> ОБОРУДОВАНИЕ

        </div>
        <div style="font-family: 'Open Sans';
                    color:  #ffffff;
                    font-size: 1.123em;
                    font-weight: 400;
                    margin-top: 19px;">
          У нас установлены профессиональные стиральные <br>
          и сушильные машины шведского производства. <br>
          ASKO - это гарантия качества мирового бренда.
        </div>
      </div>
    </div>
  </div>

  <div class="slide" style="background-image: url(<%= asset_path 'laundry/slide_3.png'%>); background-position: center;">
    <div class="container-fluid wrapper slide-content">
      <div class="read-more-button">
        Подбронее
      </div>
      <div class="slide-body">
        <div style="font-family: 'Open Sans';
                    color:  #ffffff;
                    font-size: 2.492em;
                    font-weight: 800">
          У НАС РАБОТАЮТ <br> ОПЫТНЫЕ <br> СПЕЦИАЛИСТЫ

        </div>
      </div>
    </div>
  </div>

  <div class="slide" style="background-image: url(<%= asset_path 'laundry/slide_4.png'%>); background-position: center;">
    <div class="container-fluid wrapper slide-content">
      <div class="read-more-button">
        Подбронее
      </div>
      <div class="slide-body">
        <div style="font-family: 'Open Sans';
                    color:  #0085b1;
                    font-size: 2.492em;
                    font-weight: 800">
          РАБОТАЕМ <br> С ПРЕДПРИЯТИЯМИ

        </div>
        <div style="font-family: 'Open Sans';
                    color:  #0085b1;
                    font-size: 1.123em;
                    font-weight: 400;
                    margin-top: 15px;">
          Прачечная &laquo;     &raquo; оказывает<br>
          комплексные услуги по обслуживанию:<br>
          санаториев, ресторанов, отелей<br>
          и гостиниц<br>
        </div>
      </div>
    </div>
  </div>

  <div class="slide" style="background-image: url(<%= asset_path 'laundry/slide_5.png'%>); background-position: center;">
    <div class="container-fluid wrapper slide-content">
      <div class="read-more-button">
        Подбронее
      </div>
      <div class="slide-body">
        <div style="font-family: 'Open Sans';
                    color:  #0085b1;
                    font-size: 2.492em;
                    font-weight: 800">
          КЛИЕНТЫ ВСЕГДА <br> ДОВОЛЬНЫ НАШЕЙ <br> РАБОТОЙ
        </div>
      </div>
    </div>
  </div>

  <div class="dots-container">
    <div class="dots">
      <div class="dot current-dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</div>

<div class="container-fluid wrapper" style="margin-top: 75px;">
  <div class="row flex-column text-box" style="style: block;">
    <div style="font-family: 'Open Sans';
                color:  #303030;
                font-size: 1.87em;
                font-weight: 600; display: flex; justify-content: center;"> Почему выбирают нас?
    </div>
    <div class="stickers" style="margin-top: 46px; margin-bottom: 72px;">
      <div class="sticker">
        <img class="sticker-img" src="<%= asset_path 'laundry/shield.svg'%>">
        <div class="sticker-info">Высокое качество <br>стирки и глажки белья</div>
      </div>
      <div class="sticker">
        <img class="sticker-img" src="<%= asset_path 'laundry/like.svg'%>">
        <div class="sticker-info">Индивидуальный подход<br>к каждому клиенту</div>
      </div>
      <div class="sticker">
        <img class="sticker-img" src="<%= asset_path 'laundry/stopwatch.svg'%>">
        <div class="sticker-info">Экономим Ваше<br>время</div>
      </div>
    </div>
  </div>
</div>

<div class="feedback widest-element" style="background-image: url(<%= asset_path 'laundry/feedback-background.png' %>)">
  <div class="feedback-content">
    <div class="feedback-title">
      Отзывы о нас
    </div>
    <div style="display: flex; align-items: center">
      <div class="left-arrow prev-review">
        <img src="<%= asset_path 'laundry/left-arrow.svg'%>">
      </div>
      <div class="feedback-body">
        <% @customer_reviews.each do |review| %>
          <div class="customer-review">
            <div class="customer-review-image" style="background-image: url(<%= review.image %>)"> </div>
            <div class="customer-review-name"> <%= review.customer_name %>  </div>
            <div class="customer-review-data"> <%= review.created_at.strftime("%d.%m.%Y") %></div>
            <div style="background-color:  #00b1af; width: 72.5%; height: 3px; margin: auto; margin-top: 24px;">  </div>
            <div class="customer-review-body"> <%= review.body %></div>
          </div>
        <% end %>
      </div>
      <div class="right-arrow next-review">
        <img src="<%= asset_path 'laundry/right-arrow.svg'%>">
      </div>
    </div>
  </div>
</div>

<div class="map widest-element" style="background-image: url(<%= asset_path 'common/map.png'%>)"></div>

<%= render partial: 'layouts/footer'%>
