<div">
  <div class="row image-header" style="background-image: url(<%= asset_path 'prices/header.jpg' %>)"> </div>
  <div class="row flex-column text-box">
    <h2> Для частных клиентов </h2>
    <br />
    <b> Стирка и сушка белья, пуховиков, одеял, глажка прямого белья; бесплатная приемка и доставка при заказе от 3000 руб. </b>
    <br />
    <h4> Стирка и сушка белья  400 руб. </h4>
    <p>
      Стоимость услуги указана за любой вес белья до 5 кг.
      Принимаются любые текстильные вещи, включая постельное белье и одежду.
      Стирка осуществляется в соответствии с видом ткани.
      Не рекомендуется сдавать вместе светлое и яркое белье и вещи, рассчитанные только на ручную стирку. 
      Готовность заказа через 2-3 дня. Выдача заказов по понедельникам и четвергам.
    </p>
    <h4> Стирка и сушка пуховика  550 руб. </h4>
    <p>
      Стоимость услуги указана за одну вещь вне зависимости от размера пуховика.
      Готовность заказа через 2-3 дня, выдача заказов по понедельникам и четвергам.
    </p>
    <h4> Стирка и сушка одеял, пледов, покрывал 550 руб. </h4>
    <p>
      Цена указана за одну вещь. Готовность заказа через 2-3 дня, выдача заказов по понедельникам и четвергам.
    </p>
    <h4> Стирка, сушка и глажка белья 70 руб. </h4>
    <p>
      Стоимость услуги указана за одну вещь, минимальный заказ - шесть вещей. Принимается только прямой текстиль: постельное белье и полотенца. 
      Готовность заказа через 2-3 дня, выдача заказов по понедельникам и четвергам.
      <br>
      Мы также осуществляем доставку заказов. Стоимость приемки и доставки белья по адресу заказчика: 500 руб.
      <br>
    </p>
    <p>
      Обслуживаются: Приморский, Выборгский, Калининский, Василеостровский, Петроградский район.
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A354c096d817d7d25a68ec3ed2fe76752e03e5e571f35ef258f9bbb3a03252fd4&amp;source=constructor"
      width="460" height="459" frameborder="0"></iframe>
      <br>
    </p>
      При заказе от 3000 руб. бесплатная приемка и доставка. 
    <p>
      <b> Пункт-приемки белья: </b>
      <br>
      Станция метро «Девяткино»
      <br>
      Пос.Мурино, Петровский бульвар, 7, во дворе
      <br>
      <iframe src="https://yandex.ru/map-widget/v1/-/CBBDJQds0D" width="700" height="450" frameborder="0" allowfullscreen="true"></iframe>
    </p>
    <p> Часы работы: с 14-00 до 20-00, выходной – воскресенье. </p>

    <p>
    <div class='contacts'>
      Контакты:
      <br>
      <a href="mailto:Prachka-laundry@yandex.ru ">prachka-laundry@yandex.ru</a>
      <br>
      <div class='telephone' style='display: inline-block; float:left'> Телефон: <a href="tel:8-931-390-9123">+7 931 3-909-123</a></div>
      <br>
      <div style='margin-top: 10px;'>
        <div>
          <a href="https://vk.com/prachkaLaundry">
            <div class="messenger first-logo" style="background-image: url(<%= asset_path 'vk-logo.png' %>); style='display: inline-block'"></div>
          </a>
        </div>
        <div>
          <a href="  ">
            <div class="messenger" style="background-image: url(<%= asset_path 'telegram-logo.png' %>); style='display: inline-block'"></div>
          </a>
        </div>
        <div>
          <a href="https://api.whatsapp.com/send?phone=79313909123">
            <div class="messenger" style="background-image: url(<%= asset_path 'whatsapp-logo.png' %>); style='display:inline-block''"></div>
          </a>
        </div>
      </div>
    </div>
    </p>
    </p>
  </div>
</div>
<%= render partial: 'layouts/footer'%>
