<!-- 1 modal -->
<div class="modal-container coat-and-down-jackets">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_1_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'dry_cleaning/modal_windows/jacket.svg'%>">
      </div>
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Пальто и пуховики
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
    <div class="service-modal-price" style="position: absolute; bottom: 0; margin: 0 0 47px 251px;">
      от 800 руб.
    </div>
  </div>
</div>

<!-- 2 modal -->
<div class="modal-container coats-and-jackets">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_2_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'dry_cleaning/modal_windows/coat.svg'%>">
      </div>
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Плащи и куртки
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
    <div class="service-modal-price" style="position: absolute; bottom: 0; margin: 0 0 47px 251px;">
      от 550 руб.
    </div>
  </div>
</div>

<!-- 3 modal -->
<div class="modal-container various-materials">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_3_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'dry_cleaning/modal_windows/cloack.svg'%>">
      </div>
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Изделия из искусственного <br>
          меха, кожи, замши и велюра
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 4 modal -->
<div class="modal-container genuine-leather-and-fur">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_4_modal.png'%>" alt="">
      <div class="service-modal-icon-background">
        <img style="height: 65px;" src="<%= asset_path 'dry_cleaning/modal_windows/cleaning.svg'%>">
      </div>
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Комплексная чистка изделий <br>
          из натурального меха и кожи
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 5 modal -->
<div class="modal-container bio-cleaning">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_5_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          БИО чистка изделий из натурального <br>
          меха
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 6 modal -->
<div class="modal-container jackets-trousers-shirts">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_6_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Пиджаки, жакеты, брюки, рубашки
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 7 modal -->
<div class="modal-container blankets">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_7_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Одеяла и пледы
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
    <div class="service-modal-price" style="position: absolute; bottom: 0; margin: 0 0 47px 251px;">
      от 500 руб.
    </div>
  </div>
</div>

<!-- 8 modal -->
<div class="modal-container bedspreads">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_8_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Покрывала
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 9 modal -->
<div class="modal-container knitwear">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_9_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Трикотажные изделия
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 10 modal -->
<div class="modal-container evening-dress">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_10_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Вечерняя и шелковая одежда
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 15 modal (not a joke) -->
<div class="modal-container work-clothes">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_15_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Рабочая одежда
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 16 modal (it's okay) -->
<div class="modal-container bags">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_16_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Сумки из натуральной и искусственной <br> кожи, чемоданы
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 11 modal -->
<div class="modal-container pillows">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_11_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Перьевые подушки
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 12 modal -->
<div class="modal-container interior-items">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_12_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Предметы интерьера: чехлы диванные,<br> портьеры, чехлы  на кресла,
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 13 modal -->
<div class="modal-container sports-equipment">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_13_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Спортивная  экипировка
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 14 modal -->
<div class="modal-container soft-toys">
  <div class="modal-window" style="width: 770px; height: 400px;">
    <div style="position: absolute; right: 15px; margin-top: -15px; cursor: pointer; z-index: 1;">
      <div class="close-modal"><div style="transform: rotate(45deg);">+</div></div>
    </div>
    <div class="modal-window-inner">
      <img class="service-modal-photo" src="<%= asset_path 'dry_cleaning/modal_windows/foto_14_modal.png'%>" alt="">
      <div class="service-modal-content" style="padding-left: 10px;">
        <div class="service-modal-title">
          Мягкие игрушки
        </div>
        <div class="service-modal-body">
          Равным образом дальнейшее развитие различных форм <br>
          деятельности играет важную роль в формировании <br>
          модели развития. Не следует, однако забывать, что <br>
          укрепление и развитие структуры требуют от нас анализа <br>
          дальнейших направлений развития.<br>
          <br>
          Идейные соображения высшего порядка, а также <br>
          консультация с широким активом представляет собой <br>
          интересный эксперимент проверки системы обучения <br>
          кадров, соответствует насущным потребностям.
        </div>
      </div>
    </div>
  </div>
</div>
