<div class="image-header" style="background-image: url(<%= asset_path 'posts/header.png' %>); background-position: center;">
  <div class="image-header-text">
    <div class="title"> О вашей одежде </div>
    Главная | О вашей одежде
  </div>
</div>
<div class="container-fluid wrapper">
  <div class="row flex-column text-box">
    <div class="post">
      <div class="post-content">
        <div class="post-data">
          <%= @post.created_at.strftime("%d.%m.%Y") %>
        </div>
        <div class="post-title"> <%= @post.title %>

        </div>
        <br>
        <br>
        <br>
        <div class="post-body">
          <%= sanitize @post.body %>
        </div>

        <div class="post-image" style="background-image: url(<%= @post.image %>);"> </div>
      </div>
    </div>

    <a class="post-back-btn" href="<%= posts_path %>">
      Вернуться назад
    </a>
  </div>
</div>
<div class="map widest-element" style="background-image: url(<%= asset_path 'common/map.png'%>)"></div>
<%= render partial: 'layouts/footer'%>
