<div class="footer">
  <div class="container-fluid wrapper">
    <div class="row footer">
      <div class="left-part-footer">
        <div class="logo-footer" style="background-image: url(<%= asset_path 'footer/logo.svg'%>)"></div>
        <div class="messengers-footer">
          <a href="/">
            <div class="messenger-icon-footer" style="background-image: url(<%= asset_path 'footer/instagram.svg' %>)";></div>
          </a>

          <a href="/">
            <div class="messenger-icon-footer" style="background-image: url(<%= asset_path 'footer/vk.svg' %>)";></div>
          </a>

          <a href="/">
            <div class="messenger-icon-footer" style="background-image: url(<%= asset_path 'footer/telegram.svg' %>)";></div>
          </a>

          <a href="/">
            <div class="messenger-icon-footer" style="background-image: url(<%= asset_path 'footer/whatsapp.svg' %>)";></div>
          </a>

          <a href="/">
            <div class="messenger-icon-footer" style="background-image: url(<%= asset_path 'footer/viber.svg' %>)";></div>
          </a>
        </div>
      </div>

      <div class="middle-part-footer">
        <img class="t-number-icon-footer" src="<%= asset_path 'footer/telephone.svg'%>" />
        <div class="t-number-footer">+7 (931) 3-909-123</div>
        <br>
        <img class="t-number-icon-footer" style="visibility: hidden;"src="<%= asset_path 'footer/telephone.svg'%>" />
        <div style="font-family: 'Open Sans';
                    font-size: 0.873em;
                    color: white;
                    display: inline-block;">с 11:00 до 22:00 (без выходных)</div>
        <br>
        <div class="mail-info-footer">
          <img class="mail-icon-footer" src="<%= asset_path 'footer/close-envelope.svg'%>" />
          <div style="font-family: 'Open Sans';
                      font-size: 1.123em;
                      font-weight: 700;
                      color: white;
                      display: inline-block;
                      margin-left: 0.4%;">prachka-laundry@yandex.ru</div>
        </div>
      </div>

      <div class="right-part-footer">
        <img class="point-icon-footer" src="<%= asset_path 'footer/location.svg'%>" />
        <div class="right-part-info-footer">
          <b>Санкт-Петербург, Ленинградская область</b>
          <br>
          Станция метро "Девяткино"
          <br>
          Пос.Мурино, Петровский бульвар, 7, во дворе
          <br>
          Часы работы: Ежедневно с 11:00 до 20:00
        </div>
      </div>
    </div>
  </div>
</div>
